:root {
  --img-src: url("images/dog1.png");
  --size: 300px;
  --depth: 16px;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(#1c5f54, #28447a);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.stage {
  position: relative;
}

.pillow-wrap {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.1s linear;
}

.pillow {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  position: relative;
  transform-style: preserve-3d;
}

.texture {
  width: 100%;
  height: 100%;
  background-image: url("images/dog1.png"); /* your image */
  background-size: cover;
  background-position: center;

  backface-visibility: visible; /* keep visible when rotated */
}

.floor-shadow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 250px;
  height: 40px;

  filter: blur(15px);
  border-radius: 50%;
  transform: translateX(-50%);
  transition: transform 0.2s ease;
}
